<style>
    .offcanvas {
        background-color: #FF9595;
        padding: 30px;
    }

    .btn-close {
        background-image: url('icons/icon-close.svg');
        opacity: 1;
    }
    .offcanvas .nav-link {
        font-size: 18px;
        color: #FFF;
    }
</style>
<div class="offcanvas offcanvas-end border-0" tabindex="-1" id="mobile" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <a class="navbar-brand" href="/">
            <img src="icons/brand.svg" alt="">
        </a>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="navbar-nav">
            <a class="nav-link" href="/">INÍCIO</a>
            <a class="nav-link" href="/service">SERVIÇO</a>
            <a class="nav-link" href="/about">SOBRE NÓS</a>
            <a class="nav-link" href="/contact">CONTATO</a>
        </div>
    </div>
</div>
<script>

</script>

