<style>
    .ob-footer p {
        margin: 0px;
        font-size: 18px;
        font-weight: 300;
    }

    .ob-footer .nav-link {
        font-size: 18px;
        color: var(--color-blue);
    }

    .ob-user img {
        margin: 5px 10px 0px 5px;
    }

    @media (max-width: 575.98px) {}

    @media (max-width: 767.98px) {
        .ob-footer .nav-link {
            font-size: 14px;
            color: var(--color-blue);
        }
        .ob-footer img {
            margin-bottom: 10px;
        }
    }

    @media (max-width: 991.98px) {}

    @media (max-width: 1199.98px) {}

    @media (max-width: 1399.98px) {}
</style>
<footer class="ob-footer d-lg-none">
    <div class="container py-4">
        <div class="row align-items-center">
            <div class="col-lg-2 m-0 text-center">
                <img src="icons/brand-footer.svg" alt="" width="200px">
            </div>
            <div class="col-lg-8">
                <div class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link" href="/">INÍCIO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/service">SERVIÇO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">SOBRE NÓS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">CONTATO</a>
                    </li>
                </div>
            </div>
            <div class="col-lg-2 text-center ob-user">
                <a href="https://angular.io/">
                    <img src="icons/icon-javascript.svg" alt="" width="25px">
                </a>
                <a href="https://www.linkedin.com/in/jesse-martins/" alt="">
                    <img src="icons/icon-linkedin.svg" alt="" width="25px">
                </a>
            </div>
        </div>
    </div>
</footer>
<script>

</script>
<script src="scripts/bootstrap.bundle.min.js"></script>
<script src="scripts/script.js"></script>