@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700;900&display=swap');

:root {
    --font:'Lato', sans-serif;
    --font-display:'Merriweather', serif;
}

* {
    font-family: var(--font);
}